<!DOCTYPE html>
<html>
<body style="background-color:white;">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="dropdown" method="GET" action="/experimentQuery">
  <button onclick="myFunction('myDropdown')" class="dropbtn">Select experiment</button>
  <div id="myDropdown" class="dropdown-content">
    <input class="DDsearch" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

      {% for experiment in experiments %}
      <a href="#{{experiment[0]}}">{{experiment[0]}}</a>
      {% endfor %}

  </div>
</div>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  const input = document.getElementById("myInput");
  const filter = input.value.toUpperCase();
  const div = document.getElementById("myDropdown");
  const a = div.getElementsByTagName("a");
  for (let i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

</body>
</html>
