/* high level */

@import url('red-hat-display.css');
* {
 font-family: RedHatDisplay-SemiBold;
}
@property --colorA {
 syntax: "<color>";
 inherits: false;
 initial-value: #a6a6a6;
}



/*general page css goes here*/
.hidden{

  display=none;

}

.headerlink{
  text-align: center;
  float:right;

}

#pageHeader > * {
 font-size: 300%;   
 color: black;
 width:300px;
 float: left;
 padding: 20px;
}


.linkblock {

  color:white;
  font-size:200%;
  padding:20px;
  border:none;
  background-color: var(--colorA);
  width: 200px;
  float:right;
}

/* this is the css for the dropdown menu*/
.dropbtn {
  background-color: var(--colorA);
  color: white;
  border-radius: 25px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--colorA);
}

.DDsearch {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
